{% extends "base.html" %}
{% block page_title %}Recipe Detail{% endblock %}
{% block content %}
<h3>{{recipe.name}}</h3>
<p>Author: {{recipe.author.name}}</p>
<p>
    {% if recipe.images %}
        {% for image in recipe.images.all %}
            <img src="{{ image.image.url }}" alt="{{ recipe.name }} images">
        {% endfor %}
    {% endif %}
    <br>
    {% for ingredient in recipe.ingredients.all %}
    {{ingredient.ingredient.name}} - {{ingredient.quantity}}
    <br>
    {% endfor %}
</p>
<a href="{% url 'ledger:recipe_add_image' id=recipe.id %}">Add an Image</a><br>
<a href="{% url 'ledger:recipe_list' %}">Back to list</a>
{% endblock content %}